Source: hpackage
Section: unknown
Priority: extra
Maintainer: Maintainer (maintainer@web.com)
Build-Depends: ghc (>= 7.8), cabal-install (>= 1.22), zlib1g-dev, libpcre3-dev, libssl-dev, pkg-config, binutils, happy, alex
Standards-Version: 3.8.3
Homepage: https://

Package: dummy
Architecture: any
Depends: ${shlibs:Depends}
Description: desc
