#!/usr/bin/make -f
PROJNAME=$(shell $(CURDIR)/debian/haskell-extract-changelog-name-version.sh name)
VERSION=$(shell $(CURDIR)/debian/haskell-extract-changelog-name-version.sh version)
PROJLABEL=$(PROJNAME)-$(VERSION)

BUILDDIR=$(CURDIR)/debian/build-output
SRCDIR=$(BUILDDIR)/$(PROJLABEL)

TMPDIR=$(CURDIR)/debian/$(PROJNAME)

WORKDIR=$(CURDIR)/debian/bundled-dependency-workdir
PACKAGEDIR=$(WORKDIR)/extracted

CABAL=cabal --config-file=$(CURDIR)/config

#export DH_VERBOSE=1

ifneq (,$(LDFLAGS))
	LDFLAGS := $(filter-out %-Bsymbolic-functions,$(LDFLAGS))
endif

export LC_ALL=en_US.UTF-8

MSGPREFIX='=========================== DURR '

clean:
	@echo $(MSGPREFIX)'BEGIN: clean'
	dh_testdir
	rm -f $(CURDIR)/debian/files
	rm -rf $(CURDIR)/.pc
	rm -rf $(TMPDIR)
	rm -rf $(BUILDDIR)
	rm -f $(CURDIR)/debian/substvars
	rm -f $(CURDIR)/debian/$(PROJNAME).debhelper.log
	rm -f $(CURDIR)/debian/$(PROJNAME).substvars
	rm -rf $(WORKDIR)
	dh_clean
	@echo $(MSGPREFIX)'END: clean'

build-arch:
	@echo $(MSGPREFIX)'BEGIN: build'
	mkdir -p $(PACKAGEDIR)
	mkdir -p $(BUILDDIR)
	tar axf $(CURDIR)/$(PROJLABEL).tar.gz -C $(BUILDDIR)
	cd $(SRCDIR) && $(CABAL) sandbox init
	debian/haskell-install-sandboxed.sh "$(CABAL)" $(SRCDIR)
	cd $(SRCDIR) && $(CABAL) install Cabal
	cd $(SRCDIR) && $(CABAL) sandbox add-source externals/* && $(CABAL) install --only-dependencies && $(CABAL) configure && $(CABAL) build #todo allow it to discover externals
	@echo $(MSGPREFIX)'END: build'

build-indep:

build: build-arch build-indep

pre-binary-arch:
	@echo $(MSGPREFIX)'BEGIN: pre-binary'
	dh_testroot
	dh_prep
	mkdir -p $(TMPDIR)
	@echo $(MSGPREFIX)'END: pre-binary'

binary-arch: BINARY_LOC_REL = $(shell $(SRCDIR)/pkg/debian/configuration.sh $(TMPDIR) $(SRCDIR) | tail -1)
binary-arch: pre-binary-arch
	@echo $(MSGPREFIX)'BEGIN: binary'
	touch $(CURDIR)/debian/files
	mkdir -p $(TMPDIR)/DEBIAN
	cp $(CURDIR)/debian/control $(TMPDIR)/DEBIAN/control
	dh_installdirs
	dh_install
	dh_installdocs
	dh_installchangelogs
	dh_installinit -n
	dh_link
	dh_compress
	dh_fixperms
	dh_strip
	dpkg-shlibdeps $(TMPDIR)/$(BINARY_LOC_REL)
	dh_installdeb
	dpkg-gencontrol -isp -P$(TMPDIR)
	dh_md5sums
	dpkg-deb -b $(TMPDIR) ..
	@echo $(MSGPREFIX)'END: install'

binary-indep:

binary: binary-arch binary-indep
